.container {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "dis dis dis dis"
    "AC C divide multiply"
    "seven eight nine minus"
    "four five six plus"
    "one two three equal"
    "zero zero dot equal"
    ;
}

.padButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    background-color: gray;
    color: white;
    border: 1px solid black;
    cursor: pointer;
    font-size: 20px;
}

.dis{
    grid-area: dis;
    background-color: burlywood;
    text-align: right;
    font-size: 20px;
}

.dark-gray{
    background-color: #333;
}

.tomato{
    background-color: tomato;
}

.blue{
    background: #5580ad;
}

.zero{
    grid-row: zero;
}

.equal{
    grid-area: equal;
}

.total{
    padding: 5px 20px;
    color: black;
    text-shadow: 3px blanchedalmond;
}

.dis input{
    width: 100%;
    color: white;
    padding: 5px 20px;
    text-align: right;
    background-color: black;
}